# Shared
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@db:5432/streetfit
REDIS_URL=redis://redis:6379
JWT_SECRET=change_me_super_secret
ASSET_BUCKET=streetfit
ASSET_S3_ENDPOINT=http://minio:9000
ASSET_S3_REGION=us-east-1
ASSET_S3_ACCESS_KEY=streetauth
ASSET_S3_SECRET_KEY=streets3secret
WEB_ORIGIN=http://localhost:3000
API_ORIGIN=http://localhost:4000
COACH_ORIGIN=http://localhost:5000
NEXT_PUBLIC_API_ORIGIN=http://localhost:4000
